.products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 0.45fr));
    grid-column-gap: 10rem;
    grid-row-gap: 2rem;
  }

h4{
    color: black;
    font-size: 25px;
}
.product{
  border: 1px solid black;

}
article{
  background-color:  rgba(245, 203, 164,0.9);
}