<section class="products">
        <div class="section-title">
            <h2>{{products.title}}</h2>
        </div>
        <div class="products-center">
            <!-- single product-->
    <article class="product">
            <div class="img-container">
                <img src="http://localhost:3000/market/view/{{products.image}}" alt="product" class="product-img" width="285px" height="215px">
            </div>
           <!--  <h3>{{p.title}}</h3> -->
            <h4>₹{{products.price}}</h4>
        </article>
    <article class="product">
              <p style="text-align: center; font-size: 25px;">Seller Details</p>
          
            <h4></h4>
        </article>
        <!-- end of single product-->
        </div>
        
    </section>
