<nav>
    <div class="nav-wrapper black">
      <a href="#" class="brand-logo">Online&nbsp;Marketplace</a>
      <ul id="nav-mobile" class="right">
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
      </ul>
    </div>
  </nav>
  <div class="hero">
    <div class="banner">
        <h1 class="banner-title">ONLINE MARKETPLACE</h1>
        <a routerLink="/market" class="banner-btn" style="text-decoration: none"> <i class="fas fa-shopping-cart"></i>&nbsp;Buy</a>
        &nbsp; &nbsp;
        <a routerLink="/login" class="banner-btn" style="text-decoration: none"><i class="fas fa-rupee-sign"></i> &nbsp;Sell</a>
    </div>
</div>
        
